@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>



<p>This application is currently in alpha testing. Sorry for temporrary problems!</p>
<p>Please feel free to message me if you have any problems:</p>

<address>
    <strong>IT Support:</strong> <a href="mailto:bogdan.ivchenko@hotmail.com">bogdan.ivchenko@hotmail.com</a><br />
</address>
