@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>IT Support:</strong> <a href="mailto:bohdan.ivchenko@dshs.wa.gov">Bohdan.Ivchenko@hotmail.com</a><br />
</address>
